<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin | Log in</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<%= csrf_meta_tags %>
</head>
<body class="login-page">
<div class="login-box">
<div class="login-logo">
<a href="/"><b>GERENCIAMENTO DE MEMBROS GTi</b></a>
</div><!-- /.login-logo -->
<div class="login-box-body">
<p class="login-box-msg">Seja Bem Vindo ao sistema de grenciamneto GTi</p>
<%= link_to 'Logar Usuário', new_user_session_path%>

<br>

<%= link_to 'Logar Admin', new_admin_session_path%>
</div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>