<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Day</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.day %></td>
        <td><%= event.category %></td>
        <td><%= link_to 'Show', event %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
