<p id="notice"><%= notice %></p>

<h1>Projetos</h1>
<br>
<% if user_signed_in? %>
  <p>Projetos que você está:</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <% if user_signed_in? %>
          <% if current_user.name == project.user.name %>
              <td><%= project.name %></td>
              <td><%= project.description %></td>
              <td><%= project.start %></td>
              <td><%= project.end %></td>
              <td><%= project.user.name %></td>
              <td><%= link_to 'Show', project %></td>
            <% if admin_signed_in? %>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
            <% end %> 
          <% end %>
        <% end %>
       <%if admin_signed_in?%>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.start %></td>
        <td><%= project.end %></td>
        <td><%= project.user.name %></td>
        <td><%= link_to 'Show', project %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        <% end %>
       <%end%> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>