<%= form_with(model: cashier, local: true) do |form| %>
  <% if cashier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cashier.errors.count, "error") %> prohibited this cashier from being saved:</h2>

      <ul>
      <% cashier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cashier_name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :cashier_category %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :cashier_description %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day, id: :cashier_day %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :cashier_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
