<p id="notice"><%= notice %></p>

<h1>Fluxo de Caixa</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Day</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashiers.each do |cashier| %>
      <tr>
        <td><%= cashier.name %></td>
        <td><%= cashier.category %></td>
        <td><%= cashier.description %></td>
        <td><%= cashier.day %></td>
        <% if cashier.value >0 %>
          <td style="color: green"><%= cashier.value%></td>
        <% elsif cashier.value < 0 %>
          <td style="color: red"><%= cashier.value%></td>
        <% end %>
        <td><%= link_to 'Show', cashier %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_cashier_path(cashier) %></td>
          <td><%= link_to 'Destroy', cashier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<section>
  <strong>Balanço:</strong>
  <span>R$ <%= @cashiers.sum(:value) %></span>
</section>




<br>
<% if admin_signed_in? %>
  <%= link_to 'New Cashier', new_cashier_path %>
<% end %>
