<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cashier.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @cashier.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cashier.description %>
</p>

<p>
  <strong>Day:</strong>
  <%= @cashier.day %>
</p>

<p>
  <strong>Value:</strong>
  <%= @cashier.value %>
</p>
<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_cashier_path(@cashier) %> |
<%end%>
<%= link_to 'Back', cashiers_path %>
