<h1>Dados Pessoais</h1>

<section>
	<STRONG>Avatar:</STRONG>
	<%= image_tag current_user.avatar.thumb , style:"height: 20px"%>
	<br>
	<STRONG>Nome:</STRONG>
	<%= current_user.name %>
	<br>
	<STRONG>Email:</STRONG>
	<%= current_user.email %>
	<br>
	<STRONG>Nascimento:</STRONG>
	<%= current_user.nascimento %>
	<br>
	<STRONG>Gênero:</STRONG>
	<%= current_user.gender %>
	<br>
	<STRONG>Cargo:</STRONG>
	<%= current_user.cargo %>

</section>

<a href="#"><i class='fa fa-link'></i> <span><%= link_to 'Editar informações', edit_user_registration_path%></span></a>