

<h1>Linha do Tempo</h1>
<br>

<% @projects.each do |p| %>
	<strong>Projeto:</strong>
	<%= p.name%>
	<br>
<% end%>
<% @events.each do |p| %>
	<strong>Evento:</strong>
	<%= p.name%>
	<br>
<% end%>

<br>

