<h1>Todos Usuários</h1>


<% @users.each do |user| %>
  <STRONG>Nome:</STRONG>
  <%= user.name %><br/>
  <STRONG>Email:</STRONG>
  <%= user.email %><br/>
  <br>
<% end %>

<br>

<% if admin_signed_in? %>
	<%= link_to 'Deslogar Admin', destroy_admin_session_path, method: :delete %>
<% else %>
	<%= link_to 'Logar Admin', new_admin_session_path%>
<% end %>
