<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar.thumb , class:"img-circle"%> 
        <% end %>
      </div>
      <div class="pull-left info">
         <% if user_signed_in? %>
          <p><%= current_user.name %></p>
        <% end %>
        <% if admin_signed_in? %>
          <p><%= current_admin.email %></p>
        <% end %>
        
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i>
         <% if user_signed_in? %>
          <%= current_user.cargo %>
        <% end %>
        </a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
      <li href="#"><a href="/projects"><i class='fa fa-link'></i> <span>Projetos</span></a></li>
      <li><a href="/site/home"><i class='fa fa-link'></i> <span>Timeline</span></a></li>
      <li><a href="/cashiers"><i class='fa fa-link'></i> <span>Fluxo de Caixa</span></a></li>
      <li href="#"><a href="/events"><i class='fa fa-link'></i> <span>Eventos</span></a></li>
      <% if user_signed_in? %>
        <li href="#"><a href="/site/dados"><i class='fa fa-link'></i> <span>Dados Pessoais</span></a></li>
      <% end %>
      <% if admin_signed_in? %>
        <li href="#"><a href="/"><i class='fa fa-link'></i> <span>Usuários</span></a></li>
      <% end %>
      <!-- <li class="treeview">
        <a href="#"><i class='fa fa-link'></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">oi</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li> -->
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
